<section class="row teaser">
    <h3>Meine Einträge</h3>

    <div class="ui-kit r">
        <span ng-click="showAddForm=!showAddForm" class="ui-icon add"></span>
    </div>

    <div ng-show="showAddForm">
        <form name="addItemForm">
            <!-- TODO: Style -->
            <input type="number" ng-model="newItem.quantity">
            Helfer
            für
            <input type="text" ng-model="newItem.name">
            im
            <input type="text" ng-model="newItem.location">
            bis
            <input type="text" ng-model="newItem.due">
            <br>



            <input type="range" ng-model="newItem.urgent" min="1" max="5">
            <input type="text" ng-model="newItem.category">
            <input type="text" ng-model="newItem.add_info">
            <button ng-click="add(newItem)">Anfrage einstellen</button>
        </form>
    </div>

    <br class="clear"/>
    <ul class="item-list">
        <li ng-repeat="item in items track by $index">
            <span ng-show="!item.editMode">
                <span>{{item.quantity}}</span> <span>Helfer für "{{item.name}}"</span> im <span>{{item.location}}</span> bis <span> {{item.due}}</span>
            </span>
            <span ng-show="item.editMode">
                <input type="number" ng-model="item.quantity">
                Helfer
                für
                <input type="text" ng-model="item.name">
                im
                <input type="text" ng-model="item.location">
                bis
                <input type="text" ng-model="item.due">
                <button ng-click="edit(item,$index)">Anfrage ändern</button>
            </span>

            <div class="ui-kit r">
                <span ng-show="!item.editMode" ng-click="item.editMode = !item.editMode" class="ui-icon edit"></span>
                <span ng-show="!item.editMode" ng-click="remove(item, $index)" class="ui-icon delete"></span>
            </div>
        </li>

    </ul>
</section>